.edit-exercise-form-container {
    display:flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.edit-exercise-form-container input {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-exercise-form-container input.name-input {
    flex: 3;
}

.edit-exercise-form-container input.sets-reps-input {
    flex: 1;
    width: 100%;
}

.edit-exercise-form-container button {
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-exercise-form-container .save-button {
    background-color: #28a745;
}

.edit-exercise-form-container .cancel-button {
    background-color: #6c757d;
}

/* responsive logic */
@media (max-width: 600px) {
    .edit-exercise-form-container{
        flex-direction: column;
        align-items: stretch;
    }
}